<div class="container single-page">

    <!-- Heading Row -->
    {{> account-info }}  

    <!-- Days to Ship Cutoff -->
    <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body" id="highlight-row"></div>
    </div>

    <!-- Subscription Box Options -->
    <div class="row">
    {{#boxResults}}
        {{> results/triggers }}
    {{/boxResults}}
    </div>
    {{#boxResults}}
        {{> results/modals }}
    {{/boxResults}}
</div>