body {
    padding-top: 54px;
    background-image: url("../img/background.png");
    color: #565656;
}
.navbar {
    background-color: #7DB9E8!important;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.single-page {
    padding-top: 90px;
}
.dash-blurb {
    margin: 15px auto;
}
.rounded, .rounded-circle {
    margin-bottom: 15px;
}
.accent {
    color: #7DB9E8;
}
.accent2 {
    color: #FC5A1A;
    font-weight: 700;
}
#highlight-row {
    background-color: #f5f5f5;
    color: #565656;
}
.divide {
    padding-bottom: 20px;
    margin: 15px auto;
}
form {
    padding-left: 100px;
    padding-right: 100px;
}
.survey-question {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 15px;
}
.survey-options {
    margin-left: 60px;
}
.custom-control-label {
    margin-left: 15px;
}
.custom-control-label::before {
    max-height: 0px;
}
#submit-survey {
    float: right;
    margin-right: 75px;
}
.py-5 {
    background-color: #f5f5f5;
    border-top: 1px solid #7DB9E8;
    margin-top: 100px;
}
a .social-icon {
    height: 40px;
    margin: 0px auto;
    display: block;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
@media (max-width: 767px) {
    form {
        padding-left: 0px;
        padding-right: 0px;
    }
    .survey-options {
        margin-left: 0px;
    }
    .custom-control-label {
        margin-left: 0px;
    }
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}