body {
    padding-top: 54px;
    background-image: url("../img/background.png");
    border-right: 28px solid #e5d8d0;
    border-left: 28px solid #e5d8d0;
    color: #565656;
}
.logo {
    font-family: "Love Ya Like A Sister";
}
.btn-info {
    background-color: rgb(86, 223, 202);
    color: white;
}
.bg-dark {
    background-color: #fb0c28!important;
}
.red-accent {
    color: #fb0c28;
}
#highlight-row {
    background-color: #f5f5f5;
    color: #565656;
}
.py-5 {
    background-color: #f5f5f5;
    border-top: 1px solid #fb0c28;
    margin-top: 100px;
}
a .social-icon {
    height: 40px;
    margin: 0px auto;
    display: block;
}
  
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}



hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

form{
    padding-left: 200px;
    padding-right: 200px;
    
}

.results {
    font: 500 14px/26px "Poppins", sans-serif;
    color: #fff;
    background: #fc5a1a;
    padding: 12px 30px;
    border-radius: 40px;
    display: inline-block;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    font-family: "Poppins", sans-serif;

}
.results:hover {
    color: #fff;
    background: #e64100;
    -webkit-box-shadow: 0px 6px 11.83px 1.17px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 6px 11.83px 1.17px rgba(0, 0, 0, 0.08);
  }

  .col-btn{
      align-items: center
  }

  .col-md-12{
    position:static
}